html,body { margin: 0; margin-top: 0px;padding: 0; border: 0;outline: 0;  }

header {
    background-color: #333333;
    
}

header .menu ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
}

header .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

header .menu ul li a:hover {
  background-color: grey;
}

.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav .search-container {
  float: right;
  padding-top: 5px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 17px;
  border: none;
  background-color: grey;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 16px;
  background: #333333;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding-top: 5px;
}

.topnav .search-container button:hover {
  background: #ccc];
  cursor: black;
}

@media (min-width: 561px) {
    header .menu {
        display: flex;
        align-items: center;
    }

    header .menu .topnav {
        flex: 1;
    }
    header {
    display: flex;
    justify-content: space-between;
  }
}