html,body { margin: 0; margin-top: 0px;padding: 0; border: 0;outline: 0;}

body {
    margin: auto;
}

header {
    background-color: #333333;
}

header .menu {
    justify-content: space-between;
}

header .menu ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
}

header .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

header .menu ul li a:hover {
    background-color: grey;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
}

.topnav .search-container {
    float: right;
    padding-top: 5px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
    background-color: grey;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: #333333;
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media (min-width: 561px) {
    header .menu {
        justify-content: space-betwen;
    }

    header .menu .topnav {
        flex: 1;
    }
    
    header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
    header .width{
        width: 2000px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    header .menu {
        width: 600px;
    }
    footer .width{
        width: 2000px;
        margin: auto;
    }
}

.main {
    max-width: 2000px;
    margin: auto;
}

.main .head h1 {
  text-align: center;
}

.topnav .search-container input {
  background-color: white;
}

.main .head .main-photo img {
  width: 320px;
  
}

.main .head .main-photo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.main .head h2 {
  text-align: center;
}

.main .head .services img {
  width: 200px;
  margin: 10px;
  height: 200px;
}

.main .head .services {
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 10px;
}

.main .text h2 {
  text-align: center;
}

.main .text p {
  margin-left: 10px;
}

.main .location p {
  text-align: center;
}

.main .greetings .words {
  text-align: center;
}

.main .olga-kuzyk .olga  {
  justify-content: center;
  align-items: center;
  display: flex;
}

.main .olga-kuzyk .olga img {
  width: 200px;
}

.main .olga-kuzyk p {
  text-align: center;
}

footer {
  background-color: #333333;
}


footer .width .contacts .location-png img {
  width: 15px;
  height: 20px;
}

footer .width .contacts .location-png p {
  margin-top: 0px;
}

footer .width .contacts .location-png {
  display: flex;
  justify-content: center;
}

footer .width {
  color: white;
}

footer .width .contacts .phone img {
  width: 15px;
  height: 20px;
}

footer .width .contacts .phone {
  display: flex;
  justify-content: center;
}

footer .width .contacts .phone p {
  margin-top: 0px;
}

footer .width .sources {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

footer .width .sources img {
  width: 50px;
}

.main .location iframe {
  width: 100%;
  height: 300px;
}

@media (min-width: 500px) {
  footer .width {
    display: flex;
  }
  
  footer .width .contacts {
    flex: 1;
    margin-top: 15px;
    min-width: 200px;
  }
  
  footer .width .sources {
    flex: 1;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50%;
    display: flex;
  }
}