html,body { margin: 0; margin-top: 0px;padding: 0; border: 0;outline: 0;}

body {
    margin: auto;
}

header {
    background-color: #333333;
}

header .menu {
    justify-content: space-between;
}

header .menu ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
}

header .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

header .menu ul li a:hover {
    background-color: grey;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
}

.topnav .search-container {
    float: right;
    padding-top: 5px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
    background-color: grey;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: #333333;
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media (min-width: 561px) {
    header .menu {
        justify-content: space-betwen;
    }

    header .menu .topnav {
        flex: 1;
    }
    
    header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
    header .width{
        width: 2000px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    header .menu {
        width: 600px;
    }
    footer .width{
        width: 2000px;
        margin: auto;
    }
}

@media (min-width: 500px) {
  footer .width {
    display: flex;
  }
  
  footer .width .contacts {
    flex: 1;
    margin-top: 15px;
    min-width: 200px;
  }
  
  footer .width .sources {
    flex: 1;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50%;
    display: flex;
  }
}

.head h1 {
    text-align: center;
}

.head h2 {
    text-align: center;
}

.head .lessons img {
    width: 300px;
}

.head .lessons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.head .firstlessons img {
    width: 300px;
}

.head .firstlessons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.head .photo img {
    width: 300px;
}

.head .photo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.head .walks img {
    width: 300px;
}

.head .walks {
    justify-content: center;
    align-items: center;
    display: flex;
}